doctype html
html
    head 
        title Home 
        link(rel="stylesheet", href="/index.css")
    body 
        h1(id='home' clase='font-red') 홈페이지
        p  
            a(href="/about") About 

        p= name 