<h1 class="font-red">This is About Page</h1>
<a href="/">Home</a>

<h1>Get 방식을 전송</h1>
<form action="/about">
    <input type="text" name="param1">
    <input type="text" name="param2">
    <button type="submit">submit</button>
</form>
<p><%= data.param1 %></p>
<p><%= data.param2 %></p>

<h1>Post 방식을 전송</h1>
<form action="/about" method="post">
    <input type="text" name="param1">
    <input type="text" name="param2">
    <button type="submit">submit</button>
</form>
<p><%= data.param1 %></p>
<p><%= data.param2 %></p>